<a href="https://colab.research.google.com/github/moridin04/Data-Science-Project/blob/main/Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science - Course Project**

**Analyzing Factors Influencing Writing Productivity Through Machine Learning Models**

## **PHASE 1: Data Preparation**

Importing Libraries

In [21]:
import pandas as pd
import numpy as np

Dataset

In [24]:
url = "https://raw.githubusercontent.com/moridin04/Data-Science-Project/refs/heads/main/datascience-dataset.csv"

df = pd.read_csv(url)

In [26]:
df.head(10)

,Week,Day,Date,Hours of Sleep,Reading Time (hours),Book Titles,Authors,Genres,"Mood Impact (Happy, Neutral, Sad)",Did I write today?,Hours of Writing,Mode of Writing,Type of Day
0,1,1,12/14/25,7.6 hours,2 hours,Memories of Ice,Steven Erikson,Fantasy,Sad,Yes,2,Desktop,School
1,1,2,12/15/25,7.2 hours,4.3 hours,Memories of Ice,Steven Erikson,Fantasy,Happy,Yes,2,Phone,School
2,1,3,12/16/25,6.8 hours,4.2 hours,Memories of Ice,Steven Erikson,Fantasy,Neutral,No,0,NaN,School
3,1,4,12/17/25,8.1 hours,0 minutes,NaN,NaN,NaN,Neutral,Yes,2,Phone,School
4,1,5,12/18/25,7.8 hours,2.2 hours,Memories of Ice,Steven Erikson,Fantasy,Happy,Yes,2,Desktop,School
5,1,6,12/19/25,7.1 hours,1 hour,11/23/66,Stephen King,Fiction,Happy,Yes,2,Desktop,School
6,1,7,12/20/25,8.9 hours,0 minutes,NaN,NaN,NaN,Happy,Yes,2,Phone,School
7,2,8,12/21/25,7.8 hours,0 minutes,NaN,NaN,NaN,Happy,Yes,2,Phone,School
8,2,9,12/22/25,7.7 hours,1 hour,House of Chains,Steven Eriskon,Fantasy,Happy,Yes,2,Phone,Vacation
9,2,10,12/23/25,6.8 hours,1 hour,On Writing,Stephen King,Memoir,Neutral,Yes,4,Phone,Vacation

In [27]:
df.columns

Index(['Week ', 'Day', 'Date', 'Hours of Sleep', 'Reading Time (hours)',
       'Book Titles', 'Authors', 'Genres', 'Mood Impact (Happy, Neutral, Sad)',
       'Did I write today?', 'Hours of Writing', 'Mode of Writing',
       'Type of Day'],
      dtype='object')

In [28]:
df.shape

(56, 13)

Numerical Features

In [29]:
df.select_dtypes(include=['number']).columns

Index(['Week ', 'Day', 'Hours of Writing'], dtype='object')

Categorical Features

In [30]:
df.select_dtypes(include=['object']).columns

Index(['Date', 'Hours of Sleep', 'Reading Time (hours)', 'Book Titles',
       'Authors', 'Genres', 'Mood Impact (Happy, Neutral, Sad)',
       'Did I write today?', 'Mode of Writing', 'Type of Day'],
      dtype='object')

Describing the Dataset

In [32]:
df.describe()

           Week         Day  Hours of Writing
count  56.000000  56.000000         56.000000
mean    4.500000  28.500000          2.785714
std     2.312024  16.309506          1.744751
min     1.000000   1.000000          0.000000
25%     2.750000  14.750000          2.000000
50%     4.500000  28.500000          3.000000
75%     6.250000  42.250000          4.000000
max     8.000000  56.000000          7.000000

Preprocessing

Cleaning Data

Transforming Data

Handling Missing Values

Converting Text to Numeric

Descriptive Statistics

Visualization Tools

## **PHASE 2: Exploratory Data Analysis (EDA)**

### Statistical Analysis

Correlation

t-test

Regression

GroupBy

Aggregation

Central Tendency (Mean, Median, Mode)

## **PHASE 3: Machine Learning**

Select Features (X) and Target (y)

Train-Test Split

Feature Scaling (fit on Train, transform on Test)

Logistic Regression Model Training

Model Evaluation (Accuracy, Confusion Matrix)

Visualization of Results (Heatmap)

# **Final Conclusion**